@charset "UTF-8";

/* Checked */
.flowerfade-out {
 position: relative;
 width: 40%;
 float: right;
 margin-left: 5px;
 margin-top: 10px;
}

.flowerfade-out img {
 width: 100%;
 height: auto;
 display: block;
}

.flowerfade-out::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%),
  linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
}

.flowerclearfix {
 overflow: auto;
}

/* Checked */
.responsive-googledriveimage {
 position: relative;
 width: 90%;
 overflow: hidden;
 padding-top: 56.25%;
 border: 10px solid #d2b48c;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 border-radius: 10px;
}

.responsive-googledriveimage iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 0;
}
